bidict==0.23.1
blinker==1.8.2
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
distlib==0.3.8
filelock==3.15.3
Flask==3.0.3
Flask-Cors==4.0.1
h11==0.14.0
identify==2.5.36
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mutagen==1.47.0
nodeenv==1.9.1
platformdirs==4.2.2
pre-commit==3.7.1
pure-eval==0.2.2
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.3
pywin32==306
PyYAML==6.0.1
simple-websocket==1.0.0
tornado==6.4.1
traitlets==5.14.3
typing_extensions==4.12.2
virtualenv==20.26.2
waitress==3.0.0
watchdog==4.0.1
wcwidth==0.2.13
Werkzeug==3.0.3
wsproto==1.2.0
