bidict==0.23.1
blinker==1.8.2
cffi==1.17.1
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
distlib==0.3.8
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
gevent==24.2.1
greenlet==3.1.1
h11==0.14.0
identify==2.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mutagen==1.47.0
nodeenv==1.9.1
platformdirs==4.3.6
pre-commit==3.8.0
pycparser==2.22
python-engineio==4.9.1
python-socketio==5.11.4
PyYAML==6.0.2
simple-websocket==1.0.0
virtualenv==20.26.6
Werkzeug==3.0.4
wsproto==1.2.0
zope.event==5.0
zope.interface==7.0.3
